*{
    margin: 0;
    padding:0 ;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgb(70, 70, 231);
}
.homediv{
    
}
.hdiv2{
background-color: white;
width: 90%;
max-width: 900px;
margin: auto;
margin-top: 45px;
margin-bottom: 45px;
padding: 40px;
border-radius: 10px;
}
.welcome{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 5px;
    font-family: cursive;

}
.highlight{
color: rgb(255, 0, 0);
}

.flexd1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.car{
    max-width: 80px;
    max-width: 60px;
    width: auto;
    height: auto;
}
.ht1{
    margin: 15px;
}
.ht2{
    margin: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.8;
}
.ht3{
    margin: 15px;
}
.ht4{
    margin: 15px;
}
.ht5{
    margin: 15px;
}
.ht6{
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}
.flexd2{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn1{
    margin-top: 5px;
    width: 180px;
    height: 30px;
    border-radius: 8px;
    border: 1.5px solid rgb(0, 0, 0);
}
.btn1:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(70, 70, 231);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
    font-weight: 00;
}